.nav{
    display: block;
    width: max-content;
    height: max-content;
    margin: auto;
    padding-top: 15px;
    z-index: 999;
}

li{
    display: inline;
    list-style: none;
    padding: 50px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: underline;
}

li:hover{
    font-size: 32px;
    border-radius: 12px;
    background-color: rgb(44, 44, 44);
    transition: 1s linear;
}